html {
  --bright-brown: rgb(240, 234, 210);
  --light-green: rgb(221, 229, 182);
  --dark-green: rgb(77, 87, 54);
  --light-brown: rgb(169, 132, 103);
  --dark-brown: rgb(108, 88, 76);
  --outline-brown: rgb(61, 48, 48);
}
body {
  margin: 0;
  background: var(--light-brown);
  background-size: 100px;
}
.banner {
  padding-left: 20px;
  height: 1.5em;
  margin: .75em 1em;
  background: var(--dark-brown);
  border-radius: 1em;
  color: var(--bright-brown);
  align-content: center;
  border: 1.5px solid var(--outline-brown);
}
span.banner {
  padding: 0;
  font-size: 13px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-style: italic;
  vertical-align: bottom;
  display: table-cell;
  border: none;
}
.row{
  display: table;
}
ul {
  margin: 0 auto 20px auto;
  font-size: 0;
  padding: 5px 0px;
  background-color: var(--dark-brown);
  border: 1.5px solid var(--outline-brown);
  border-radius: 10px;
}
li {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  margin: 5px 0px 5px 10px;
  width: 130px;
  height: 150px;
  border-radius: 5px;
  background-color: var(--light-brown);
  border: 1.5px solid var(--outline-brown);
  box-shadow: 1px 1px 3px var(--outline-brown);
}
.item-title {
  width: 100%;
  margin: 2px 5px 0px 5px;
  padding: 4px 10px 2px 10px;
  font-size: 11px;
  font-family: 'Courier New', Courier, monospace;
  border: 1.5px solid var(--outline-brown);
  border-radius: 7px;
  color: var(--bright-brown);
  background-color: var(--outline-brown);
  transition: 175ms ease-in-out;
}
.item-title:hover {
  color: var(--outline-brown);
  background-color: var(--light-brown);
}
.item-image {
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 10px;
  height: 85px;
  border: 1.5px solid var(--outline-brown);
  border-radius: 10px;
  /* box-shadow: .1px .1px 2px var(--outline-brown); */
  background-color: var(--dark-brown);
  font-family: "Lucida Console", "Courier New", monospace;
  font-style: italic;
  color: var(--bright-brown);
  font-size: 8px;
  /* padding: 12px 24px; */
  box-shadow: inset 1px 1px 3px var(--outline-brown);
  transition: 175ms ease-in-out;
  outline: none;
}
.item-image:hover {
  border: 3px solid var(--outline-brown);
}
.item-image:focus {
  border: 3px solid var(--outline-brown);
}
.item-div {
  display: flex;
  margin: 4px 5px;
  justify-content: space-evenly;
  align-items: center;
  gap: 4px;
}
.item-button {
  cursor: pointer;
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  height: 23px;
  border: 1.5px solid var(--outline-brown);
  border-radius: 20px;
  box-shadow: .75px .75px 1px var(--outline-brown);
  background-color: var(--light-brown);  
  transition: 175ms ease-in-out;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  color: var(--outline-brown);
  font-size: 9px;
  padding: 2px 10px 0 10px;
  outline: none;
}
.item-button:hover {
  background-color: var(--outline-brown);
  color: var(--bright-brown);
}
.item-button:focus {
  background-color: var(--outline-brown);
  color: var(--bright-brown);
}
.item-button:active {
  transform: translate(.75px, .75px);
  box-shadow: none;
}
.popup {
  display: none;
  position: fixed;
  left: 50%;
  width: 300px;
  /* height: 375px; */
  transform: translate(-50%, 20%);
  margin-inline: auto;
  z-index: 9;
  border: 5px solid var(--outline-brown);
  border-radius: 10px;
  box-shadow: .1px .1px 2px var(--outline-brown);
  background-color: rgb(86, 67, 67);
  font-size: 12px; /* reset the text size */
}
.popup-div {
  display: flex;
  margin: 6px 20px;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 6px;
}
.p-title-div {
  padding-bottom: 10px;
  margin: 6px 10px;
}
.popup-title {
  margin: 0;
  width: 100%;
  padding: 4px 10px 2px 10px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  border: 1.5px solid var(--outline-brown);
  border-radius: 7px;
  color: var(--bright-brown);
  background-color: var(--outline-brown);
  transition: 175ms ease-in-out;
}
.popup-title:hover {
  background-color: var(--light-brown);
  color: var(--outline-brown);
}
.popup-exit {
  cursor: pointer;
  box-sizing: border-box;
  padding: 0px 11px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  border: 1.5px solid var(--outline-brown);
  border-radius: 7px;
  color: var(--bright-brown);
  background-color: var(--outline-brown);
  transition: 175ms ease-in-out;
}
.popup-exit:hover {
  background-color: var(--light-brown);
  color: var(--outline-brown);
}
.popup-exit:focus {
  background-color: var(--light-brown);
  color: var(--outline-brown);
  outline: none;
}
.popup-exit:active {
  transform: translate(.75px, .75px);
  box-shadow: none;
}
.popup-input {
  width: 100%;
  height: 40px;
  background-color: rgb(86, 67, 67);
  color: var(--bright-brown);
  border-radius: 10px;
  border: 3px solid var(--outline-brown);
  outline: none;
  transition: 175ms ease-in-out;
  padding-left: 12px;
}
.popup-input:focus {
  border: 3px solid var(--light-brown);
}
.popup-text {
  margin: 0;
  padding: 4px 10px 2px 10px;
  font-size: 11px;
  font-family: 'Courier New', Courier, monospace;
  border: 1.5px solid var(--outline-brown);
  border-radius: 7px;
  color: var(--bright-brown);
  background-color: var(--outline-brown);
  transition: 175ms ease-in-out;
  width: 100%;
  min-height: 14px;
}
.popup-text p {
  margin: 0px;
}
.popup-id-button {
  cursor: pointer;
  background-size: cover;
  box-sizing: border-box;
  width: 50px;
  border: 1.5px solid var(--outline-brown);
  border-radius: 10px;
  /* box-shadow: .75px .75px 1px var(--outline-brown); */
  background-color: var(--outline-brown);  
  transition: 175ms ease-in-out;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  color: var(--bright-brown);
  font-size: 18px;
  padding: 2px 10px 0 10px;
}
.popup-id-button:focus {
  background-color: var(--light-brown);
  color: var(--outline-brown);
  outline: none;
}
.popup-id-button:hover {
  background-color: var(--light-brown);
  color: var(--outline-brown);
}
.popup-id-button:active {
  transform: translate(.75px, .75px);
  box-shadow: none;
}
.popup-no-id {
  width: 100%;
  height: 30px;
  margin: 0px 10px;
  font-size: 15px;
}
.popup-image {
  background-size: cover;
  margin: 0px 10px 0px 10px;
  width: 100%;
  border: 1.5px solid var(--outline-brown);
  border-radius: 10px;
  box-shadow: inset 1px 1px 3px var(--outline-brown);
  transition: 175ms ease-in-out;
}

@media screen and (max-width: 289px) { ul { width: 150px; } }
@media screen and (min-width: 290px) and (max-width: 429px) { ul { width: 290px; } }
@media screen and (min-width: 430px) and (max-width: 590px) { ul { width: 430px; } }
@media screen and (min-width: 590px) and (max-width: 730px) { ul { width: 570px; } }
@media screen and (min-width: 730px) and (max-width: 870px) { ul { width: 710px; } }
@media screen and (min-width: 870px) and (max-width: 1010px) { ul { width: 850px; } }
@media screen and (min-width: 1010px) and (max-width: 1150px) { ul { width: 990px; } }
@media screen and (min-width: 1150px) { ul { width: 1130px; } }